#numberInput {
    border: solid #FBF0D5;
    border-width: 2px 0;
    height: 2rem;
    text-align: center;
  }
  
  #numberInput:focus-visible {
    outline: none;
  }
  
  .buttonCount {
    background: #fff;
    cursor: pointer;
  
    border: 2px solid #FBF0D5;
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
  }
  
  .buttonCount:hover {
    background-color: #FBF0D5;
    transition: 0.2s;
    color: #FFF;
  }
  
  .input-group-text {
    background-color: #FBF0D5;
    color: #FFF;
  }
  
  .btn {
    width: auto;
  }