body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Cart-Widget {
  margin-right: auto;
  border-width: 0;
  background-color: transparent;
}

@media only screen and (min-width: 575px) {
  .Cart-Widget {
    margin-right: 0;
  }
}

.Nav-Bar {
  background-color: #FFDB8A;
}

.Logo {
  width: 100%;
  object-fit: cover;
}

.welcome {
  padding: 1rem;
  background-color: #FBF0D5;
  font-size:0.9rem;
  text-align: center;
}

#number-input {
  border: solid #FBF0D5;
  border-width: 2px 0;
  height: 2rem;
  text-align: center;
}

#number-input:focus-visible {
  outline: none;
}

.button-count {
  background: #fff;
  cursor: pointer;

  border: 2px solid #FBF0D5;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;

}

.button-count:hover {
  background-color: #FBF0D5;
  transition: 0.2s;
  color: #FFF;
}

.input-group-text {
  background-color: #FBF0D5;
  color: #FFF;
}

.btn {
  width: auto;
}